[submodule "api-back"]
	path = api-back
	url = https://github.com/api-6-pixel/api-back.git
[submodule "api-front"]
	path = api-front
	url = https://github.com/api-6-pixel/api-front.git
[submodule "api-back-ia"]
	path = api-back-ia
	url = https://github.com/api-6-pixel/api-back-ia.git
